.graph {
  /*background-color: #ecebeb;*/
  padding: 30px;
  height: 100vh;
  font-family: 'Roboto';
}

.graph__title {
  font-weight: 700;
}

.graph__supergroup {
  /*background-color: #f6f5f5;*/
  border-radius: 5px;
  border: 1px solid #e4e3e3;
  box-shadow: 0 10px 40px rgba(0,0,0,0.05);
  max-width: 500px;
  margin-right: 14px;
  margin-bottom: 14px;
}

.graph__group {
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
}

.graph__topic {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}








/**
 * Supergroup
 */

.graph-supergroup {
  display: inline-block;
  vertical-align: top;
  padding: 14px;
}

.graph-supergroup__header {
  font-size: 1.2em;
  padding: 14px;
}

.graph-supergroup__main {

}

.graph-supergroup__group {
  margin-bottom: 5px;
}







/**
 * Group
 */

.graph-group {
  display: inline-block;
  vertical-align: top;
  padding: 14px;
  border-color: transparent;
}

.graph-group__header {
  font-size: .95em;
  padding-bottom: 18px;
}

.graph-group__main {

}

.graph-group__topic {
  margin-bottom: 14px;
  width: 200px;
}

.graph-group__topic:last-child {
  margin-bottom: 0;
}

.graph-group_active {
  border-color: #82b4f1;
  box-shadow: 0 0 15px rgba(130, 180, 241, 0.7);
}








/**
 * Topic
 */

.graph-topic {
  position: relative;
  padding: 8px 10px;
  font-size: 0.8em;
  background-color: #fff;
  border-color: #e0e0e0;
  color: rgba(0,0,0,0.65);
}

.graph-topic__header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.graph-topic__header-title {

}

.graph-topic__header-icons {
  font-size: 0.7em;
  display: flex;
  align-items: center;
}

.graph-topic__header-icons i {
  margin-left: .5em;
}

.graph-topic__header-icons .fa-star-of-life {
  font-size: 6px;
}

.graph-topic__main {
  position: relative;
  z-index: 1;
  display: none;
  margin-top: 8px;
  padding-top: 14px;
  border-top: 1px solid #e0e0e0;
}

.graph-topic__progress {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 0%;
  background-color: #c7eee1;
  z-index: 0 !important;
}

/*topic state*/

.graph__topic:hover {
  border-color: #929292;
  cursor: pointer;
  color: #222;
}

.graph-topic_closed {
  background-color: #f0f2f7;
  color: rgba(0,0,0,0.4);
}

.graph-topic_closed:hover {
  border-color: #e0e0e0;
  color: rgba(0,0,0,0.4);
  cursor: default;
}

.graph-topic_check {
  background-color: #e0efea;
  color: #4fc99f;
}

.graph-topic_active {
  background-color: #cddef4;
  border-color: #2882ef;
  color: #2882ef;
}

.graph-topic_active .graph-topic__progress {
  background-color: #a7c9f3;
}

.graph-topic_active .graph-topic__header-title {
  color: #222;
}

.graph-topic_open {

}

.graph-topic_open .graph-topic__main {
  display: block;
}

.graph-topic__select {
  width: 100%;
}