body{
  padding: 0;
  margin: 0;
  /*font-size: 1.5vh;*/
}
div {
  box-sizing: border-box;
}

#svgContainer {
  z-index: -10;
  opacity:  0.5;
  /*margin:   2.5em 2.5em;*/
  position: absolute;
  border: 1px solid rgba(0,0,0,0.2);
}

path {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

svg .arrow_path path {
  fill: #000;
  stroke-width: 0;
}

#outer{

}

#teal{
  width:  6em;
  height: 6em;
  margin-left: 10%;
  margin-top:  1em;
  background-color: teal;
}

#red{
  width:   6em;
  height:  4em;
  padding: 4em 3em;
  margin-left: 30%;
  margin-top:  6em;
  background-color: red;
}
#orange{
  width:   20%;
  height:  4em;
  padding: 2em 8em;
  margin-top:  6em;
  margin-left: 8em;
  background-color: orange;
}

#aqua{
  width:  5em;
  height: 5em;
  margin-left: 15%;
  margin-top:  6em;
  background-color: aqua;
}
